#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #010101;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
}

p {
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.movie {
  text-align: center;
  padding: 1rem;
}

.movie img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  object-fit: cover;
}

input[type="text"] {
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
